{% extends "base.html" %}
{% block content %}
 
<div class="col-xs-6 col-md-6" style="margin-left:25%"> 
   <div class="panel panel-info">
      <div class="panel-heading">
         <h3 class="panel-title"> 密码修改 </h3>
      </div> 
      <div class="panel-body">
         {% if validlink %} 
         <form class="navbar-form" method="POST" action="">{% csrf_token %}
            <div class="input-group col-md-12">
               <span class="input-group-addon" id="basic-addon1" >新密码</span>
               <input id="id_new_password1"  type="text" class="form-control" name="new_password1">
            </div> 
            <br />
            <br />
            <div class="input-group col-md-12">
               <span class="input-group-addon" id="basic-addon1" >重复密码</span>
               <input  id="id_new_password2"  type="text" class="form-control" name="new_password2">
            </div>  
            <br />
            <br /> 
            <div >
               <button type="submit" class="btn btn-primary col-md-4">修改密码</button>
            </div> 
         </form>
         {% else %}
            <a>失效的连接</a>
         {% endif %}
      </div>
   </div> 
</div>

{% endblock %}    