{% extends "base.html" %}
{% block content %}
 
<div class="col-xs-6 col-md-6" style="margin-left:25%"> 
   <div class="panel panel-info">
      <div class="panel-heading">
         <h3 class="panel-title"> 密码修改 </h3>
      </div> 
      <div class="panel-body">
         <form class="navbar-form" method="POST" action="">{% csrf_token %}
            <div class="input-group col-md-12">
               <span class="input-group-addon" id="basic-addon1" >请输入验证邮箱</span>
               <input id="id_email" type="email" class="form-control" name="email">
            </div>
            <br/>
            <br/>
            <div>
               <button type="submit" class="btn btn-primary col-md-4">提交</button>
            </div> 
         </form>
      </div>
   </div> 
</div>

{% endblock %}    