{% extends "base.html" %}
{% block content %}
<div class="col-xs-6 col-md-6" style="margin-left:25%">
   <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"> 注册 </h3>
        </div>
        <div class="panel-body">
            <form class="navbar-form" method="POST" action="">{% csrf_token %}
                <div class="input-group col-md-12">
                    <span class="input-group-addon" id="basic-addon1" >用户名</span>
                    <input type="text" class="form-control" placeholder="username" name="username" value={{ username }}>
                </div>
                <br />
                <br />
                <div class="input-group col-md-12">
                    <span class="input-group-addon" id="basic-addon1">邮 箱</span>
                    <input type="text" class="form-control"  name="email" value={{ email }}> 
                </div>
                <br />
                <br />
                <div class="input-group col-md-12" >
                    <span class="input-group-addon" id="basic-addon1" >密 码</span>
                    <input type="text" class="form-control" name="password" value={{ password }}>
                </div>
                <br />
                <br />
                
                <div class="input-group col-md-12" >
                    <span class="input-group-addon" id="basic-addon1">确认密码</span>
                    <input type="text" class="form-control" name="user_password_agin">
                </div>
                <br />
                <br />
                 
                <div >
                     <button type="submit" class="btn btn-primary col-md-4">注 册</button>
                     {% if error %}
                        <span style="color: red;margin-left:15%"> {{ error }} </span>
                     {% endif %}
                </div> 
            </form>
        </div>
    </div> 
</div>

{% endblock %}    